<ion-modal-view ng-controller="ProfileCtrl" hide-nav-bar="true">
 	<ion-header-bar  style="padding:10px;">
      		<button class="button button-clear button-dark"ng-click="closeProfileModal()">Close</button>	
    		<h3 class="title" style="margin-left:5%;">Your Orders</h3>
  	</ion-header-bar>
  	<div ng-include="'templates/common/loading.html'" ng-show="loading"></div>
	<ion-content  class="profile" style="background-color:#f4f4f4">


		<div style="width:100vw;  background-color:white;  margin-bottom:10px; border-top:1px solid #a39e94;border-bottom:1px solid #a39e94;" ng-repeat="order in items track by $index">
			<div class="row" style=" width:100vw; padding:0px 5px;" >
				<div class="col text-left" style=" padding:0px !important;" >
					Delivery on {{order.delivery_date | date:'dd MMM'}}
				</div>
				<div class="col text-right" style=" padding:0px !important;"> 
					<p ng-if="order.status==0" class="positive text-right">Pending</p>
					<p ng-if="order.status==1" class="balanced text-right">Delivered At {{order.received_time}}</p>
					<p ng-if="order.status==3" class="energized text-right">on the way</p>
				</div>
			</div>
			<div style="border-bottom:1px solid #ddd;border-top:1px solid #ddd; width:100vw; font-size:11px; line-height:12px; font-family: Arial, Helvetica, sans-serif;">
				<div class="row" ng-repeat="it in order.order_products" style="">
					<div class="col col-50 text-left" >{{it.product_name}}</div>
					<div class="col col-25 text-left"> 
						&#8377;&nbsp;{{it.price}}/ {{(it.weight|setDecimal:2)+" "+ it.unit}}
					</div>
					<div class="col col-10 text-right">x {{it.quantity}}</div>
					<div class="col text-right">&#8377; {{it.price*it.quantity}}</div>
				</div>
			</div>
			<div class="row" style="width:100vw">
				<div class="col">
					Paid
				</div>
				<div class="col text-right">
					Total: {{order.paid_amount}}
				</div>
			</div>
		</div>


	</ion-content>
</ion-modal-view>
