
<ion-view view-title="Editorial" hide-back-button="false">

	<ion-nav-title style="margin-left:0px;" >  
		Subscriptions
	</ion-nav-title>


	<!--<div class="bar bar-subheader item-input-inset subheader-with-input" style="margin-top:10px; border:1px solid #ddd;  border-radius:5px; height:40px" id="searchbar">
  		<label class="item-input-wrapper" style="background-color:white; z-index:13"> 
    			<input type="search" placeholder="Type here" ng-model="search1" style="margin-top:10px">
  		</label>
  		<img src="img/icons/search_icon.svg">
	</div> -->
	<ion-content style="background-color:#f4f4f4" id="contentsearch"> <!--on-scroll="getScrollPosition()"-->
<!--<button ng-click="su()">buttton</button>-->


<ion-list>
	<ion-item ng-repeat="subscription in subscriptions.products" class="item item-text-wrap text-left mizan" item="item" ng-click="openSingleSub(subscription.product_id,subscription.sub_id,subscription.unit_mapping_id);" can-swipe="true" style="padding-top:0px; margin:0px; font-family:regular">
		<div style="height:25vw; item-dark">
			<div style="height:100%;  display:inline-block; width:30%; float:left; background-image:url(https://www.minbazaar.com/subs/admin/{{subscription.image}}); background-size:contain; background-repeat:no-repeat"></div>
			<div style="width:70%; height:50px; display:inline-block; float:left; padding:3px;">
				<div style="font-size:4vw; font-weight:bold">{{subscription.product_name}}</div>
				<div style="line-height:3.5vw; color:gray; font-size:3vw" ng-if="subscription.current_status=='1'">Running, End date:{{subscription.end_date|date:'dd MMM, EEEE'}}</div>
				<div style="line-height:3.5vw; color:gray; font-size:3vw" ng-if="subscription.current_status=='0'">Paused, End date:{{subscription.end_date|date:'dd MMM, EEEE'}}</div>	
<div style="line-height:4vw; color:gray; font-size:3vw" ng-if="subscription.custom_date>1">{{subscription.quantity * subscription.weight+" "+subscription.unit+" per "+ subscription.custom_date + " days"}}</div>
<div style="line-height:4vw; color:gray; font-size:3vw" ng-if="subscription.custom_date=='0'">{{subscription.quantity * subscription.weight+" "+subscription.unit+" Daily "}}</div>
			<div style="line-height:4vw; color:gray; font-size:3vw">{{subscription.address}}, {{subscription.apartment}}, {{subscription.zip}},  {{subscription.mobno}} </div>
			</div>
		</div>
       		<ion-option-button class="button-light icon ion-pause" ng-click="change_subscription_status(subscription.cust_id, subscription.id, subscription.current_status)" ng-if="subscription.current_status==1">{{'Pause'}}
       		 </ion-option-button>

       		 <ion-option-button class="button-light icon ion-pause" ng-click="change_subscription_status(subscription.cust_id, subscription.id, subscription.current_status)" ng-if="subscription.current_status=='0'">{{'Restart'}}
       		 </ion-option-button>
       		 
       		<ion-option-button class="button-light icon ion-email">&nbsp;Unsubscribe </ion-option-button>
       		<ion-option-button class="button-assertive icon ion-trash-a">&nbsp;Edit</ion-option-button>  
        </ion-item>

<!------------------------------------------------------------------------------------------------------------------------------------------>



	<ion-item ng-repeat="subscription in subscriptions.package" class="item item-text-wrap text-left mizan" item="item" ng-click="openSinglePackage(subscription.package_id,subscription.sub_id,subscription.package_size_id);" can-swipe="true" style="padding-top:0px; margin:0px; font-family:regular">
		<div style="height:25vw; item-dark">
			<div style="height:100%;  display:inline-block; width:30%; float:left; background-image:url(https://www.minbazaar.com/subs/admin/{{subscription.image}}); background-size:contain"></div>
			<div style="width:70%; height:50px; display:inline-block; float:left; padding:3px;">
				<div style="font-size:4vw; font-weight:bold; line-height:4vw">{{subscription.package_name}}<br>({{subscription.size_name}})</div>
				<div style="line-height:4vw; color:gray; font-size:3.5vw" ng-if="subscription.current_status=='1'">Running, End date:{{subscription.end_date|date:'dd MMM, EEEE'}}</div>
				<div style="line-height:4vw; color:gray; font-size:3.5vw" ng-if="subscription.current_status=='0'">Paused, End date:{{subscription.end_date|date:'dd MMM, EEEE'}}</div>
				
<div style="line-height:4vw; color:gray; font-size:3.5vw">{{subscription.address}},{{subscription.apartment}}, {{subscription.zip}},  {{subscription.mobno}} </div>
			</div>

			</div>
		</div>
       		<ion-option-button class="button-light icon ion-pause" ng-click="change_subscription_status(subscription.cust_id, subscription.id, subscription.current_status)" ng-if="subscription.current_status==1">{{'Pause'}}
       		 </ion-option-button>

       		 <ion-option-button class="button-light icon ion-pause" ng-click="change_subscription_status(subscription.cust_id, subscription.id, subscription.current_status)" ng-if="subscription.current_status=='0'">{{'Restart'}}
       		 </ion-option-button>
       		 
       		<ion-option-button class="button-light icon ion-email">&nbsp;Unsubscribe </ion-option-button>
       		<ion-option-button class="button-assertive icon ion-trash-a">&nbsp;Edit</ion-option-button>  
        </ion-item>
</ion-list>
<!---------------------------------------------------------Subscriptions list ------------------------------------------------------------>

<!--------------------------------------------------------------categoriess end ---------------------------------------------------->

