<ion-view view-title="Editorial" hide-back-button="false">

	<ion-nav-title style="margin-left:0px;" >  
		<img class="home-logo" src="img/l5.png"  style="width:30vw; vertical-align: middle; margin: 0 auto;">
	</ion-nav-title>


	<!--<div class="bar bar-subheader item-input-inset subheader-with-input" style="margin-top:10px; border:1px solid #ddd;  border-radius:5px; height:40px" id="searchbar">
  		<label class="item-input-wrapper" style="background-color:white; z-index:13"> 
    			<input type="search" placeholder="Type here" ng-model="search1" style="margin-top:10px">
  		</label>
  		<img src="img/icons/search_icon.svg">
	</div> -->
	<ion-content  style="background-color:#fff"  id="contentsearch" scroll="false"> <!--on-scroll="getScrollPosition()"-->
		<!--<button ng-click="su()">buttton</button>-->
	
	<div style="height:15vh; width:100vw; margin-bottom:5px; background-image:url(https://www.minbazaar.com/subs/admin/uploads/{{singlePackages.package[0].image}}); background-size:cover; background-repeat:no-repeat;">
			<div style=" display:inline-block; height:15vh; width:15vh;">
				<button ng-click="openNextDaySelection(singlePackages.package[0].package_id,singlePackages.package[0].package_size_id,singlePackages.package[0].subscription_id)" class="button button-dark">Next day selection</button>
			</div>
			<div style="display:inline-block; width:70%; height:15vh; float:right;">			
				<div class="text-left">{{singlePackages.package[0].package_name}}({{singlePackages.package[0].size_name}})</div>
				<div class="text-left">{{singleSubscriptions.product[0].quantity}} X {{singleSubscriptions.product[0].weight}} {{singleSubscriptions.product[0].unit}} = {{singleSubscriptions.product[0].quantity*singleSubscriptions.product[0].weight}} {{singleSubscriptions.product[0].unit}}</div>

				<div class="text-left">total used quantity {{singleSubscriptions.product[0].total_used_data[0].total_used_data}} 			
				</div>
				
			</div>
	</div>
	

	<!--****************************************************show items ***********************************************************-->

<ion-scroll direction="y" style="height:70vh; border-top:1px solid #ddd">
	<ion-list>

			<ion-item  ng-repeat="detail in singlePackages.package_product track by $index" class="item item-text-wrap text-left" item="item" style="padding-top:0px; margin:0px; font-family:regular">
				<div style="height:15vw; font-size:12px; width:100%;">


					<div style="border:1px solid black width:100%;">{{detail.date|date:'dd MMM, EEEE'}}


						
						<span style="float:right" ng-if="detail.status==1" class="balanced"> Delivered At {{detail.Time | limitTo:5}}</span>
						<span style="float:right" ng-if="detail.status==0" class="positive"> Pending</span>
						<span style="float:right" ng-if="detail.status==2" class="assertive"> Paused</span>
					</div>

					<div style="text-align: left;" class="balanced">Total weight in kg {{detail.weight}}</div>
					

				</div>	
					

					<button style="display: inline-block;" class="button button-assertive button-block" style="float: right;" ng-show="detail.is_selected==1" ng-click="view(detail.id, detail.subscription_id)">{{'View'}}</button>

					<button style="display: inline-block;" class="button button-block button-assertive" ng-if="(singlePackages.package_product.length-1)==$index && detail.is_selected==0" ng-click="openNextDaySelection(singlePackages.package[0].package_id, singlePackages.package[0].package_size_id, singlePackages.package[0].subscription_id, detail.id)">{{'Next Day selection'}}
					</button>

				
	       		
	        </ion-item>
	</ion-list>
</ion-scroll>

<!---------------------------------------------------------Subscriptions list ------------------------------------------------------------>

	</ion-content>
</ion-view>
